<!DOCTYPE html>
<html lang="en">
  <head>
   <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Assignment 1 GPU</title>
   <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/style.css" rel="stylesheet" type="text/css" />
 </head>
  <body>
  <div id="container">
     <header>
       <div class="row">
			<ul>
				<li style="margin-left: 2%;"> <a  href="/" title="GPU Information" class="active"> Home</a></li>
				<li> <a  href="/add" title="Edit">Add New GPU Information </a></li>
				<li> <a  href="/search" title="Search">Search for GPUs</a></li>
                <li> <a  href="/file" title="CSV File Upload(Beta)">CSV File Upload(Beta)</a></li>
				<li>
                {% if user %}
                    <a href='{{ login_logout_url }}'>Logout</a>
                {% else %}
                    <a href='{{ login_logout_url }}'>Login</a>
                {% endif %}
                </li>
			</ul>
	   </div>
	 </header>
  <section>
	  <h4 class="listHeader headerColor">{{ main_header }}</h4>

	   <div class="row">
			<div class="col-md-11" style="margin-left: 5%;">
                {% if gpu_list %}
                    <table id="table" class="table table-hover table-bordered">
                    <thead>
				        <tr>
					        <th style="text-align: center">GPU Name</th>
                            <th style="text-align: center">geometryShader</th>
                            <th style="text-align: center">tesselationShader</th>
                            <th style="text-align: center">shaderInt16</th>
                            <th style="text-align: center">sparseBinding</th>
                            <th style="text-align: center">textureCompressionETC2</th>
                            <th style="text-align: center">vertexPipelineStoresAndAtomics</th>
                            <th align="center"></th>
				        </tr>
				    </thead>
                    <tbody>
                        {% for gpu in gpu_list %}
                            <tr>
                                <td align="center">
                                    <form id="display" method="post" action="/display"></form>
                                    <a href="javascript:{}" onclick="document.getElementById('display').submit();">{{ gpu.key.id() }}</a>
                                    <input type="hidden" value="{{ gpu.key.id() }}" name="gpu_id" form="display"/>
                                </td>
                                <td align="center">{{ gpu.geometryShader }}</td>
                                <td align="center">{{ gpu.tesselationShader }}</td>
                                <td align="center">{{ gpu.shaderInt16 }}</td>
                                <td align="center">{{ gpu.sparseBinding }}</td>
                                <td align="center">{{ gpu.textureCompressionETC2 }}</td>
                                <td align="center">{{ gpu.vertexPipelineStoresAndAtomics }}</td>
                                <td align="center">
                                    <form action="/edit" method="post">
                                        <input type="hidden" name="gpu_id" value="{{ gpu.key.id() }}"/>
                                        <input align="center" class="btn btn-primary btn-sm"  type="submit" value="Edit Values" name="button"/>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                        {% else %}
                        {% endif %}
			</div>
       </div>

 </section>
     <!-- <footer class="footer"> -->
		<!-- <div class="col-12" style="height:30px;"> -->
			 <!-- <p style="text-align:center;">Assignment</p>  -->
            <!-- </div> -->
    <!-- </footer> -->
   </div>
 <script src="js/jquery-3.3.1.js"></script>
<script src="js/bootstrap.min.js"></script>


  </body>


  </html>