<!DOCTYPE html>
<html lang="en">
  <head>
   <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Assignment 1 GPU</title>
   <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/style.css" rel="stylesheet" type="text/css" />
 </head>
  <body>
  <div id="container">
     <header>
       <div class="row">
			<ul>
				<li style="margin-left: 2%;"> <a  href="/" title="GPU Information"> Home</a></li>
				<li> <a  href="/add" title="Add New GPU">Add New GPU Information </a></li>
				<li> <a  href="/search" title="Search for GPUs" class="active">Search for GPUs</a></li>
                <li> <a  href="/file" title="CSV File Upload(Beta)">CSV File Upload(Beta)</a></li>
				<li>
                {% if user %}
                    <a href='{{ login_logout_url }}'>Logout</a>
                {% else %}
                    <a href='{{ login_logout_url }}'>Login</a>
                {% endif %}
                </li>
			</ul>
	   </div>
	 </header>
  <section>

	  {% if user %}
                    <h4 class="listHeader headerColor">{{ main_header }}</h4>
	   <div class="row">
			<div class="col-md-11" style="margin-left: 5%;">
				<form method="post" id="input_data_form" action="/search">
                    <table id="edit_table" class="table table-hover table-bordered">
    				    <thead>
        				  <tr>
							  <th >Graphic Property</th>
							  <th >Boolean Property Value</th>
        				  </tr>
                        </thead>
                        <tbody>
        				  <tr>
        					<td >geometryShader</td>
        					<td ><label for="geometryShader"></label><input  type="checkbox" form="input_data_form" name="geometryShader" id="geometryShader"/></td>
        				  </tr>
        				  <tr>
        					<td >tesselationShader</td>
        					<td ><label for="tesselationShader"></label><input type="checkbox" form="input_data_form" name="tesselationShader" id="tesselationShader"/></td>
        				  </tr>
        				  <tr>
        					<td >shaderInt16</td>
        					<td ><label for="shaderInt16"></label><input type="checkbox" form="input_data_form" name="shaderInt16" id="shaderInt16"/></td>
        				  </tr>
                          <tr>
        					<td >sparseBinding</td>
        					<td ><label for="sparseBinding"></label><input type="checkbox" form="input_data_form" name="sparseBinding" id="sparseBinding"/></td>
        				  </tr>
                          <tr>
        					<td >textureCompressionETC2</td>
        					<td ><label for="textureCompressionETC2"></label><input type="checkbox" form="input_data_form" name="textureCompressionETC2" id="textureCompressionETC2"/></td>
        				  </tr>
                          <tr>
        					<td >vertexPipelineStoresAndAtomics</td>
        					<td ><label for="vertexPipelineStoresAndAtomics"></label><input type="checkbox" form="input_data_form" name="vertexPipelineStoresAndAtomics" id="vertexPipelineStoresAndAtomics"/></td>
        				  </tr>
    				    </tbody>
			        </table>
					<div class="row">
						<div class="col-md-2 col-md-offset-6">
							<input  class="btn btn-primary" type="submit" value="Search" name="button"/>
						</div>
					</div>
						

                </form>
			</div>
		  </div>
	  		<div class="row">
			<div class="col-md-11" style="margin-left: 5%;">
                {% if gpu_list %}
                    <table id="table" class="table table-hover table-bordered">
                    <thead>
				        <tr>
					        <th >GPU Name</th>
                            <th >geometryShader</th>
                            <th >tesselationShader</th>
                            <th >shaderInt16</th>
                            <th >sparseBinding</th>
                            <th >textureCompressionETC2</th>
                            <th >vertexPipelineStoresAndAtomics</th>
                            <th ></th>
				        </tr>
				    </thead>
                    <tbody>
                        {% for gpu in gpu_list %}
                            <tr>
                                <td >
                                    <form id="display" method="post" action="/display"></form>
                                    <a href="javascript:{}" onclick="document.getElementById('display').submit();">{{ gpu.key.id() }}</a>
                                    <input type="hidden" value="{{ gpu.key.id() }}" name="gpu_id" form="display"/>
                                </td>
                                <td >{{ gpu.geometryShader }}</td>
                                <td >{{ gpu.tesselationShader }}</td>
                                <td >{{ gpu.shaderInt16 }}</td>
                                <td >{{ gpu.sparseBinding }}</td>
                                <td >{{ gpu.textureCompressionETC2 }}</td>
                                <td >{{ gpu.vertexPipelineStoresAndAtomics }}</td>
                                <td ><form action="/edit" method="post"><input type="hidden" name="gpu_id" value="{{ gpu.key.id() }}"/><input align="center" class="btn btn-primary btn-sm" type="submit" value="Edit Values" name="button"/></form></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                        {% else %}
                        {% endif %}
			</div>
       		</div>
                {% else %}
                   <h4 class="listHeader">Please Login to Access This Page..!!</h4>
                {% endif %}



 </section>
     <!-- <footer class="footer"> -->
		<!-- <div class="col-12" style="height:30px;"> -->
			 <!-- <p style="text-align:center;">Assignment</p>  -->
            <!-- </div> -->
    <!-- </footer> -->
   </div>
 <script src="js/jquery-3.3.1.js"></script>
<script src="js/bootstrap.min.js"></script>


  </body>


  </html>